<h1><%= @cocktail.name %>'s description :</h1>
<%= cl_image_tag @cocktail.photo, height: 300, width: 400, crop: :fill %>
<% @cocktail.doses.each do |dose| %>
  <li> <%= dose.description %> - <%= dose.ingredient.name %> - <%= link_to 'Delete this ingredient', dose_path(dose), method: :delete %> </li>
<% end %>
<br>
<%= link_to 'Add description and dose', new_cocktail_dose_path(@cocktail)  %>
<br>
<%= link_to 'Back to lobby', cocktails_path  %>


